@model IEnumerable<MVCDemo.Models.Employee>
@using MVCDemo.Models;
@{
    ViewBag.Title = "Employee List";
}
<div style="font-family:Arial"
     <h2> Employee List</h2>
<ul>
    @foreach(Employee employee in Model)
            {
                <li>
                    @Html.ActionLink(employee.Name, "Details", new { id = employee.EmployeeID });
                </li>
            }

</ul>
<@Html.ActionLink("geri", "Index","Department") 
<h2>Index</h2>


